name: delivery
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
permissions:
  contents: read
  packages: write
jobs:
  delivery:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - name: Build Go
        run: go build -v ./...
      - name: Setup aqua
        uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.44.0
      - name: Install ko
        env:
          PATH: "${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:$PATH"
        run: aqua install --tags ko
      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Container Image
        working-directory: ./cmd/api
        run: |
          VERSION=$(git rev-parse --short HEAD) \
          KO_DOCKER_REPO=ghcr.io/${{ github.repository }} \
          SOURCE_DATE_EPOCH=$(date +%s) \
          ko build --sbom=none --bare --tags="$(git rev-parse --short HEAD)",latest . --platform=linux/amd64
