name: test e2e
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/test.e2e.yaml
      - "**/*.go"
      - go.mod
      - go.sum
defaults:
  run:
    shell: bash
jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - name: Run api
        id: api
        env:
          PORT: "8080"
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
        run: |
          go run cmd/api/main.go &
          echo API_PID=$! >> "$GITHUB_OUTPUT"
          sleep 20
      - name: Test e2e
        env:
          ENDPOINT: http://localhost:8080
        run: go test ./test/e2e/...
      - name: Shutdown
        if: always()
        run: |
          kill ${{ steps.api.outputs.API_PID }}
